// 03.		Overlay Css

.overlay_one,
.overlay_two,
.overlay_three,
.overlay_four {
  position: relative;
}

.overlay_one:before,
.overlay_two:before,
.overlay_three:before,
.overlay_four:before {
  position: absolute;
  content: ' ';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}
