// 02.		Default Margin and Padding

// Margin

.mx_10 {
  margin: 0px 10px;
}

.my_60 {
  margin: 60px 0px;
}

.mt_5 {
  margin-top: 5px;
}

.mt_15 {
  margin-top: 15px;
}

.mt_60 {
  margin-top: 60px;
}

.mb_60 {
  margin-bottom: 60px;
}

.mt_30 {
  margin-top: 30px;
}

.mt_100 {
  margin-top: 100px;
}

.mr_20 {
  margin-right: 20px;
}

.mr_60 {
  margin-right: 60px;
}

.mb_15 {
  margin-bottom: 15px;
}

.mb_20 {
  margin-bottom: 20px;
}

.mb_30 {
  margin-bottom: 30px;
}

// padding

.p_30 {
  padding: 30px;
}

.p_20 {
  padding: 20px;
}

.py_60 {
  padding: 60px 0px;
}

.py_80 {
  padding: 80px 0px;
}

.pr_50 {
  padding-right: 50px;
}

.pt_15 {
  padding-top: 15px;
}

.pt_30 {
  padding-top: 30px;
}

.pt_60 {
  padding-top: 60px;
}

.pb_60 {
  padding-bottom: 60px;
}

.pb_30 {
  padding-bottom: 30px;
}

.pl_120,
.px_120 {
  padding-left: 120px;
}

.pr_120,
.px_120 {
  padding-right: 120px;
}
